- content_for :top_menu_left do
  %a{ href: '/' }= t('application_layout.menu.for_participants')
- content_for :top_menu_right do
  %a{ href: session_path('organization') }= t('application_layout.menu.enter')
#orglav_page
  .app_div
    %a#orglav_logo{ :href => '/' }
      %img(src="/images/centr_logo_mini.png")

    #orglav_statement
      %h1.org_header1= t 'organization.welcome.statement.header'
      %p= simple_format t 'organization.welcome.statement.body'
      %a.button#orglav_statement_button.org_button{ :href => session_path('organization') }= t 'organization.welcome.statement.button'

    .org_box
      = render 'organizations/header'
      .org_box_body
        %h1= t 'organization.welcome.box.header'
        .org_row
          #orglav_box_image.org_half_collumn
            %img(src="/images/orglav_page/orglav_circle.png")
          #orglav_box_text.org_half_collumn
            = simple_format t 'organization.welcome.box.body'
            %h3= t 'organization.welcome.box.vivat'
        %a.button#orglav_main_button.org_button{ :href => session_path('organization') }= t 'organization.welcome.box.button'
