.row.settings
  .col.two_thirds
    = form_for who,
      url: organization_path, method: 'put',
      html: { class: 'form', enctype: 'multipart/form-data', multitype: true, data: { type: 'json', edited: t('organization.edit.edited') } },
      remote: true do |f|
      %h1= t 'organization.edit.title'
      %p= t 'organization.edit.explanation'

      %h3= t 'organization.edit.face.contact'
      .row
        .col= inp f, :secondname, between: '*'
        .col
          = f.label :phone, for: 'phone_mask0'
          *
          = f.hidden_field :phone
          %input{ id: 'phone_mask0', type: 'text', value: who.phone }
          :javascript
            ajok_mask(
              $('#phone_mask0'),
              '+7(999)999-99-99',
              (/^\+7\((\d{3})\)(\d{3})-(\d{2})-(\d{2})$/),
              '+7(___)___-__-__'
            );
      .row
        .col= inp f, :firstname, between: '*'
        .col= inp f, :fathersname

      %h3= t 'organization.edit.face.company'
      .row
        .col= inp f, :org_name, between: '*'
        .col= inp f, :site
      .row
        .col= inp f, :jur_address, between: '*'
        .col= inp f, :post_address, between: '*'
      .row
        .col= inp f, :rc, between: '*'
        .col= inp f, :kc, between: '*'
      .row
        .col= inp f, :bik, between: '*'
        .col= inp f, :kpp, between: '*'
      .row
        .col= inp f, :inn, between: '*'
        .col= inp f, :ceo, between: '*'

      .row#settings_organization_documents
        %p= t 'activerecord.attributes.organization.documents'
        #settings_organization_documents_wrapper
          - current_organization.documents.each do |d|
            .document_handler.lightgreenoblue{ :data => { :id => d.id } }
              %a.attachment_link{ href: d.attachment }= d.attachment_file_name
              .fa.del &#xf00d;

        .button#settings_organization_documents_button
          = t 'organization.edit.documents.load'
          = f.file_field :documents, :name => 'organization[documents][]'
      .row.row_with_button
        .col.small_notation= t 'organization.edit.important'
        = f.submit t('organization.edit.send.data'), class: 'col'

      .row
        .button#settings_organization_logo_button
          = f.file_field :avatar
          = t 'organization.edit.logo.load'


  .col.one_third{ style: "padding-top: 80px;" }
    .settings_box
      = form_for who, as: 'who_change_email', url: '/organization', method: 'put', html: { name: 'email_organization_change', class: 'form' }, remote: true do |fe|
        %h1= t 'organization.edit.email.title'
        .row= inp fe, :email, between: '*'
        .row= inp fe, :current_password, type: :password_field, between: '*'
        .row.row_with_button= fe.submit t('organization.edit.email.save')

    .settings_box
      = form_for who, as: 'who_change_password', 
        url: '/organization', method: 'put', 
        html: { name: 'password_organization_change', class: 'form', data: { edited: t('organization.edit.password.edited') } }, 
        remote: true do |fp|
        %h1= t 'organization.edit.password.title'
        .row= inp fp, :current_password, :type => :password_field, between: '*'
        .row= inp fp, :password, :type => :password_field, between: '*'
        .row= inp fp, :password_confirmation, :type => :password_field, between: '*'
        .row.row_with_button= fp.submit t('organization.edit.password.save')
