.row.settings
  .col.two_thirds
    = form_for who,
      url: participant_path, method: 'put',
      html: { class: 'form', data: { type: 'json', edited: t('participant.settings.edited') }, multipart: true },
      remote: true do |f|
      %h1= t 'participant.settings.main.header'
      %p= t 'participant.settings.main.description'

      %h3= t 'participant.settings.main.personal_info'
      .row
        .col= inp f, :secondname, :between => '*'
        .col 
          %h4
            = f.label :age
            *
          .select#settings_participant_age_select
            = f.text_field :age, class: 'select_current select_input', readonly: true, data: { listok: 'false' }
            .select_list
              - (15..99).each do |i|
                %div{ data: { select: i } }= i
      .row
        .col= inp f, :firstname, :between => '*'
        .col
          %h4
            = f.label :gender
            *
          .row{ style: 'line-height: 31px;' }
            = f.radio_button :gender, true
            = f.label :gender, t('participant.settings.main.gender.male'), value: true
            = f.radio_button :gender, false
            = f.label :gender, t('participant.settings.main.gender.female'), value: false, style: 'margin-left: 30px;'

      %h3= t 'participant.settings.main.contact_info'
      .row
        .col= inp f, :email, :between => '*'
        .col= inp f, :city, :between => '*'
      .row
        .col
          = f.label :phone, for: 'phone_mask0'
          *
          = f.hidden_field :phone
          %input{ id: 'phone_mask0', type: 'text', value: who.phone }
          :javascript
            ajok_mask(
              $('#phone_mask0'),
              '+7(999)999-99-99',
              (/^\+7\((\d{3})\)(\d{3})-(\d{2})-(\d{2})$/),
              '+7(___)___-__-__'
            );
      .row.row_with_button
        .col.small_notation
          %span *
          = t 'organization.logup.field_required'
        .col= f.submit t('participant.settings.main.update')


    %h1= t 'participant.settings.table.title'
    %table#settings_participant_history_table
      %tr.row_with_names
        %td.date= t 'participant.settings.table.date'
        %td.amount= t 'participant.settings.table.amount'
        %td.status= t 'participant.settings.table.status'
        %td.method= t 'participant.settings.table.method'
      - who.payments.each do |payment|
        %tr
          %td.date= payment.created_at
          %td.amount= payment.amount
          %td.status= payment.is_approved
          %td.method Способ оплаты


  .col.one_third
    .settings_box#send_invitation_settings
      = form_tag invite_participant_path(current_participant), method: 'post',
        remote: true, format: :json,
        class: 'form', data: { sended: t('participant.settings.invite.sended') } do
        %h1= t 'participant.settings.invite.title'
        %p= t 'participant.settings.invite.description'
        
        .row= text_field_tag :email
        .row.row_with_button= submit_tag t('participant.settings.invite.send')
        .row
          .button.social_button.social_button_vk
          .button.social_button.social_button_f
          .button.social_button.social_button_t
          .button.social_button.social_button_g
          .button.social_button.social_button_od


    .settings_box#phones_settings
      = form_for UnconfirmedPhone.new,
        url: participant_unconfirmed_phones_path, method: 'post',
        remote: true, format: :json,
        html: { class: 'form', id: 'participant_settings_add_phone' } do |f|
        %h1= t 'participant.settings.phone.all'
        #settings_user_phones
          - current_participant.phones.each do |phone|
            .settings_uset_phone= phone.number

        %h1= t 'participant.settings.phone.add'
        .row
          %label{ for: 'phone32' }= t 'activerecord.attributes.organization.phone'
          = f.hidden_field :number
          %input{ id: 'phone32', type: 'text' }
        .row.row_with_button= submit_tag t('participant.settings.phone.save')

      :javascript
        ajok_mask(
          $("#phones_settings #phone32"),
          '+7(999)999-99-99',
          (/^\+7\((\d{3})\)(\d{3})-(\d{2})-(\d{2})$/),
          '+7(___)___-__-__'
        );

    .settings_box#password_settings
      = form_for who, 
        url: participant_path, method: 'put', 
        html: { class: 'form' },
        remote: true do |fu|
        %h1= t 'participant.settings.password_change.change'
        .row= inp fu, :current_password, :type => :password_field
        .row= inp fu, :password, :type => :password_field
        .row= inp fu, :password_confirmation, :type => :password_field
        .row.row_with_button= fu.submit t('participant.settings.password_change.save')

- content_for :layout_bottom do

  #layer_3_smoke
  #layer_3_body
    .app_div
      = form_for UnconfirmedPhone.new,
        url: participant_unconfirmed_phone_path( current_participant ), method: 'put',
        remote: true, format: :json,
        html: { class: 'form phone_confirm_popup', id: 'phone_confirm',
          data: { added: 'телефон добавлен' } } do |f|
        .cross &#10006;
        .row.phone_confirm_description
          Введите код

          %div он был отправлен вам по смс

        .row
          %input{ name: 'number', type: 'hidden', id: 'hidden_number' }
          %input{ name: 'confirmation_code', type: 'text' }

        .row
          = f.submit 'Проверить'

      = form_for Claim.new,
        url: voting_claims_path( @voting ), method: 'post',
        remote: true, format: :json,
        html: { class: 'form phone_confirm_popup', id: 'phone_add_to_voting' } do |f|
        .cross &#10006;
        .row.phone_confirm_description
          %div
            Телефон добавлен в ваш список.
            %br
            Нажмите 'в голосование', чтобы добавить телефон в данное голосование.

        .row
          = f.hidden_field :phone, id: 'hidden_phone'
          = f.submit 'в голосование'

  :javascript
    (function(){
      var smoke = $('#layer_3_smoke');
      var body = $('#layer_3_body');
      var layer = body.add(smoke);

      var forms = body.find('form');

      body.find('.cross').on('mousedown', function(){ layer.fadeOut(500); });


      var start_form = $('#participant_settings_add_phone');

      start_form.on('ajax:success', function(e, data){
        if( !data._success ) return;

        middle_form.find('#hidden_number').val( data.number );
        middle_form.data('with_claim', false);

        layer.fadeIn(500);
        forms.eq(0).show();
        forms.eq(1).hide();
        $("body").animate({ scrollTop: 0 }, 300);
      });


      var middle_form = $('#phone_confirm');
      var finish_form = $('#phone_add_to_voting');

      middle_form.on('ajax:success', function(e, data){
        if( !data._success ) return;

        if( ! middle_form.data('with_claim') ){
          layer.fadeOut(500);
          middle_form.trigger( 'custom:alert', [ middle_form.data('added'), '' ] );
          return;
        } else {
          finish_form.find('#hidden_phone').val( data.phone );

          layer.fadeIn(500);
          forms.eq(1).show();
          forms.eq(0).hide();
          $("body").animate({ scrollTop: 0 }, 300);
        }
      });

      finish_form.on('ajax:success', function(e, data){
        if( data._success ) layer.fadeOut(500);
      });
    })();