- how_much = 'over 9000'
%div#arrow_up
= raw numberline
%div#spend_how_many
  %p
    = t 'number_info.give_away'
  %input#give_out_votes{:type => 'text'}
  %p
    = raw t 'number_info.votes_for_x_on_y', :which => @which, :on => @on
  %p
    = raw "#{t 'number_info.how_much'} <b>#{how_much}</b> #{t 'participant.balance.currency'}"
%div#promote.button
  %a
    = t 'poll.button.promote', :from => @rate, :to => @rate - 1
