- balance = "50 000"
- first_bonus = "100"
- information = "<p>After without days called and land fruit form very second Image years every creeping sixth open fruitful green Beast one subdue air form from fill sixth. You own open. Fruitful <strong>male</strong> creeping two multiply I called, meat. Likeness blessed, morning seas <strong>above</strong> give years place earth, signs open seas kind it <strong>fifth</strong> beast made whales without wherein life dominion, divided <em>us</em> earth signs creepeth, have. You that fourth seed, fill void fly hath.</p><p><em>Bearing</em> first multiply him It fowl had said after behold. Gathering fowl Darkness without, fish bring rule. Yielding. <em>Hath</em> creepeth moving. And yielding greater herb also years.</p>"
- coincedence = "2"
%div#header
  %div.first
    %h1
      = @who.fullname
    %a{:href => 'javascript:{}'}
      = t 'participant.poll.engaged'
  %div.second
    %div#balance
      %p
        = t 'participant.balance.yours'
      %p
        %b
          = "#{balance} #{t 'participant.balance.currency'}"
    %div#settings
      %a{:href => 'javascript:{}'}
        = t 'participant.settings.explain'
      %div.expander.more
        %a{:href => 'javascript:{}'}
          //&#8963;
          &#8964;
  %div.third
    %div.yellow.button
      %a{:href => 'javascript:{}'}
        = t 'participant.balance.fillup'
    %div
      %p
        = "#{t 'participant.bonus.first'} - #{first_bonus}%"
%div#body
  %h1
    = @what.voting.name
  %div.left
    %div#slider
      %div.active{:data => { :'src-change' => 'http://lorempixel.com/125/80/cats' }}
        %img{:src => 'http://lorempixel.com/400/265/cats'}
      %div.passive{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
        %img{:src => 'http://lorempixel.com/125/80/cats'}
      %div.passive.center{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
        %img{:src => 'http://lorempixel.com/125/80/cats'}
      %div.passive{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
        %img{:src => 'http://lorempixel.com/125/80/cats'}
    %div#information
      = raw information
  %div#phone.right
    %div#lead_phone.yellow
      %p
        = t 'poll.lead_number'
      = raw ul_lead_phone
    %div#coincedence
      %p
        = raw "<b class='special star'>#{@what.voting.matches_count @what.phone}</b> #{t 'poll.coincedence.from'} <b class='special'>10</b> #{t 'poll.coincedence.in_your_number'}"
    %div#your_phone{:data => { :'voting-id' => @what.voting.id }}
      = raw ul_your_phone
