.widget{ class: voting.status }
  = image_tag voting.prize, :class => "widget_image"

  .widget_body
    = image_tag voting.brand, :class => "widget_brand"

    .widget_name_container
      .widget_name= voting.name

    - if @who.nil? || @who.is_a?(Organization) || !@who.participates?(voting)
      - if user_signed_in?
        = link_to t( (voting.status == :active) ? 'widget.join' : 'widget.watch_closed' ), voting_path(voting),
        method: :get, :class => "button widget_button"
      - else
        = link_to t('widget.join'), '', :class => "button widget_button"
    - else
      .button.widget_button.widget_already= t 'widget.already_join'
    .widget_chances
      - if voting.status == :active
        - unless phone.blank?
          %span= t 'widget.coincedence'
          %b.widget_star= voting.matches_count phone
          %span= t 'widget.from'
          %b 10
          = t 'widget.number'
      - else
        Победил
        %span
          = "7-#{voting.lead_phone_number.join}"