.widget
  = image_tag voting.prize, :class => "widget_image"

  .widget_body
    = image_tag voting.brand, :class => "widget_brand"

    .widget_name_container
      .widget_name= voting.name

    - if @who.nil? || @who.is_a?(Organization) || !@who.participates?(voting)
      - if user_signed_in?
        = link_to t('widget.join'), voting_claims_path(voting), method: :post, :class => "widget_button"
      - else
        .widget_button
          = link_to t('widget.join'), ''
    -else
      .widget_button.widget_already= t 'widget.already_join'
    -unless phone.blank?
      .widget_chances
        %span= t 'widget.coincedence'
        %b.widget_star= voting.matches_count phone
        %span= t 'widget.from'
        %b 10
        = t 'widget.number'