#body.create_voting
  .first.half
    = form_for @voting, as: 'voting', 
    url: votings_path, 
    html: { class: 'default_form', name: 'create_other_poll' } do |f|
      = f.hidden_field :type, :value => :other_voting

      = render "votings/new_partial/common_part", :f => f, :active => 'second'

      %h3.tgreenoblue
        = t 'organization.poll.finance.parameters'
      .row
        .elem.first.half
          = f.label :points_limit, :class => 'tgrey'
          = f.text_field :points_limit
        .elem.second.half
          = f.label :cost_10_points, :class => 'tgrey'
          = f.text_field :cost_10_points

      %h3.tgreenoblue
        = t 'organization.poll.actions.title'
      .normal_row
        = render 'votings/new_partial/actions_form', :f => f

      .row.last
        = link_to t('organization.poll.go_back_to_list'), organization_path, class: 'button', style: 'float: left'
        = f.submit t('organization.poll.save_and_check'), class: 'button'

  = render "votings/new_partial/second_half"
