#body.create_voting
  .first.half
    = form_for @voting, as: 'voting', 
      url: votings_path, 
      html: { class: 'default_form', name: 'create_monetary_poll' } do |f|
      = f.hidden_field :type, :value => :monetary_voting

      = render "votings/new_partial/common_part", :f => f, :active => 'first'

      %h3.tgreenoblue
        = t 'organization.poll.h3.finance'
      .row
        .elem.first.half
          = f.label :cost, :class => 'tgrey'
          = f.text_field :cost
        .elem.second.half
          = f.label :timer, :class => 'tgrey'
          = f.text_field :timer
      .row
        .elem.first.half
          = f.label :financial_threshold, :class => 'tgrey'
          = f.text_field :financial_threshold
        .elem.second.half
          = f.label :min_sum, :class => 'tgrey'
          = f.text_field :min_sum

      %h3.tgreenoblue
        = t 'organization.poll.h3.fixed'
      .row
        .elem.wide
          = label :voting_fake, :cost, t('organization.poll.calculation.cost'), :class => 'tgrey'
          = text_field :voting_fake, :cost, :class => 'ranged', :data => { :currency => t('organization.poll.currency.cost'), :fix => t('organization.poll.fixed.variant.cost'), :type => 'cost', :target => 'voting_cost', :min => 0, :max => 500, :step => 10 }
      .row
        .elem.wide
          = label :voting_fake, :users_population, t('organization.poll.calculation.users_population'), :class => 'tgrey'
          = text_field :voting_fake, :users_population, :class => 'ranged', :data => { :currency => t('organization.poll.currency.users_population'), :fix => t('organization.poll.fixed.variant.users_population'), :type => 'users_population', :min => 0, :max => 10000, :step => 100 }
      .row
        .elem.wide
          = label :voting_fake, :budget, t('organization.poll.calculation.budget'), :class => 'tgrey'
          = text_field :voting_fake, :budget, :class => 'ranged', :data => { :fix => t('organization.poll.fixed.variant.budget'), :currency => t('organization.poll.currency.budget'), :type => 'budget' , :min => 0, :max => 5000000, :step => 1000 }

      .row.last
        = link_to t('organization.poll.go_back_to_list'), organization_path, class: 'button', style: 'float: left'
        = f.submit t('organization.poll.save_and_check'), class: 'button'

  = render "votings/new_partial/second_half"
