%div#login
  %h1
    = t 'participant.login.title'
  = form_for @target, :url => session_path('participant'), :method => 'post', :html => { :id => 'fields', :name => 'participant_login' } do |f|
    %div.field.left
      = f.label :phone
      = f.text_field :phone, :placeholder => '+7(___)___-__-__'
    %div.field.right
      = f.label :password
      = f.password_field :password
      = link_to t('participant.login.password.forget'), 'javascript:{}'
  %div#links
    %div.button.yellow.link.right
      = link_to t('participant.login.button.text'), 'javascript:document.forms["participant_login"].submit()', :class => 'tblack'
    %div.link.left
      = link_to t('participant.logup.welcome'), 'javascript:{}'
