- balance = "50 000"
- first_bonus = "100"
- information = "<p>Some Paragraph</p><p>Oh, my... There another one!</p>"
- coincedence = "25"
%div#participant
  %div#header
    %div.first
      %h1
        = current_participant.fullname
      %a
        = t 'participant.poll.engaged'
    %div.second
      %div#balance
        %p
          = t 'participant.balance.yours'
        %p
          %b
            = "#{balance} #{t 'participant.balance.currency'}"
      %div#settings
        %a
          = t 'participant.settings.explain'
        %div.expander.more
          //&#8963;
          &#8964;
    %div.third
      %div.yellow.button
        %a
          = t 'participant.balance.fillup'
      %div
        %p
          = "#{t 'participant.bonus.first'} - #{first_bonus}%"
  %div#body
    %h1
      = @what.voting.name
    %div.left
      %div#slider
        %div.active{:data => { :'src-change' => 'http://lorempixel.com/150/85/cats' }}
          %img{:src => 'http://lorempixel.com/400/265/cats'}
        %div.passive{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
          %img{:src => 'http://lorempixel.com/150/85/cats'}
        %div.passive{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
          %img{:src => 'http://lorempixel.com/150/85/cats'}
        %div.passive{:data => { :'src-change' => 'http://lorempixel.com/400/265/cats' }}
          %img{:src => 'http://lorempixel.com/150/85/cats'}
      %div#information
        = raw information
    %div#phone.right
      %div#lead_phone
        %p
          = t 'poll.lead_number'
        = raw ul_lead_phone
      %div#coincedence
        %p
          = raw "<b class='special star'>#{coincedence}</b> #{t 'poll.coincedence.from'} <b class='special'>10</b> #{t 'poll.coincedence.in_your_number'}"
      %div#your_phone
        = raw ul_your_phone
