#other_voting_actions
  .column_names.actions_tr
    .code_td= t 'organization.poll.actions.code'
    .action_td= t 'organization.poll.actions.action'
    .points_td= t 'organization.poll.actions.points'
  = f.fields_for :actions do |action|
    = render 'votings/new_partial/action_fields', :f => action

= link_to_add_association t('organization.poll.actions.add'), f, :actions, :partial => 'votings/new_partial/action_fields', :data => {"association-insertion-node" => "#other_voting_actions", "association-insertion-method" => "append"}, :id => 'other_voting_actions_add'

:javascript
  (function(){
    function renumerate(){
      $("#other_voting_actions .actions_tr:visible").slice(1).each(function( index ){
        $(this).find('.code_td').eq(0).text( index + 1 );
      });
    }

    renumerate();

    function toggleEdit( element, edit ){
      element.toggleClass('showing', !edit).toggleClass('editing', edit);

      var inputs = element.find('input');
      if( edit ){
        inputs.removeAttr('readonly').each( function(){
          $(this).data( 'previous_value', $(this).val() );
        });
      } else {
        inputs.attr( { readonly : true } );
      }
    }

    $("#other_voting_actions")
    .on('cocoon:after-insert cocoon:after-remove', function(e, insertedItem) {
      renumerate();

      toggleEdit( insertedItem, true );
      insertedItem.addClass('first_editing');
    })
    .on('mousedown', '.edit', function(e){
      toggleEdit( $(e.target).closest('.nested-fields'), true );
    })
    .on('mousedown', '.ok', function(e){
      var tr = $(e.target).closest('.nested-fields');
      toggleEdit( tr, false );
      tr.removeClass('first_editing');
    })
    .on('mousedown', '.cancel', function(e){
      var tr = $(e.target).closest('.nested-fields');

      if( tr.hasClass('first_editing') ){
        tr.find('.delete').click();
      } else {
        tr.find('input').each( function(){
          $(this).val( $(this).data('previous_value') );
        });
        toggleEdit( tr, false );
      }
    });

  })();