.second.half
  .preview
    %h1.tgreenoblue
      = t 'organization.poll.preview_poll'
    #widgetframe
      .widget.voting_prize
        = image_tag 'http://lorempixel.com/220/165/cats', :class => "widget_image"

        .widget_body.voting_brand
          = image_tag 'http://lorempixel.com/200/70/cats', :class => "widget_brand"

          .widget_name_container
            .widget_name.voting_name
              Some name

          = link_to t('widget.join'), 'javascript:{}', method: :post, :class => "widget_button"

          .widget_chances
            %span= t 'widget.coincedence'
            %b.widget_star
              = (0..10).to_a.shuffle.first
            %span= t 'widget.from'
            %b 10
            = t 'widget.number'