- content_for :logotip do
  - if @voting.brand.path
    =image_tag @voting.brand, class: 'voting_logotip'

:javascript
  (function(){
    var custom_head_color = "#{@voting.custom_head_color}";

    if( !custom_head_color ) return;

    var bodyhead = $('#bodyheader');

    bodyhead.css({ "background-color": custom_head_color });

    custom_head_color_10 = window.tinycolor.darken( custom_head_color, 10 ).toHexString();
    custom_head_color_20 = window.tinycolor.darken( custom_head_color, 20 ).toHexString();

    bodyhead.find('.settings_box').css({ "background-color": custom_head_color_10 });

    var table_rows = bodyhead.find('#settings_participant_history_table tr');
    table_rows.css({ "border-color": custom_head_color_20 });
    table_rows.filter(":even").css({ "background-color": custom_head_color_20 }).eq(0).css({ "background-color": custom_head_color_10 });

    bodyhead.find('input[type="submit"], .button').css({ "border-color": custom_head_color_20 });
  })();

- if @voting.custom_background.path
  :javascript
    (function(){
      $('.standard_background').css({ "background-image": "url('#{@voting.custom_background}')" });
    })();

- if @voting.custom_background_color
  :javascript
    (function(){
      $('.standard_background').css({ "background-color": "'#{@voting.custom_background_color}'" });
    })();

.slider
  .active
    =image_tag @voting.prize

  -#.row
  -#  .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
  -#    %img{ :src => 'http://lorempixel.com/125/80/cats' }
  -#  .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
  -#    %img{ :src => 'http://lorempixel.com/125/80/cats' }
  -#  .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
  -#    %img{ :src => 'http://lorempixel.com/125/80/cats' }

  %img.closed_tag{ :src => '/images/voting_show/closed.png' }
- if !@voting[:end_timer].nil? && @voting.can_vote_for_claim?
  #timer{ data: { votingid: @voting.id } }
  = javascript_include_tag 'timer'
.information= @voting.description
