- content_for :logotip do
  - if @voting.brand.path
    =image_tag @voting.brand, class: 'voting_logotip'

:javascript
  (function(){
    var custom_head_color = "#{@voting.custom_head_color}";

    if( !custom_head_color ) return;

    var bodyhead = $('#bodyheader');

    bodyhead.css({ "background-color": custom_head_color });

    custom_head_color_10 = window.tinycolor.darken( custom_head_color, 10 ).toHexString();
    custom_head_color_20 = window.tinycolor.darken( custom_head_color, 20 ).toHexString();

    bodyhead.find('.settings_box').css({ "background-color": custom_head_color_10 });

    var table_rows = bodyhead.find('#settings_participant_history_table tr');
    table_rows.css({ "border-color": custom_head_color_20 });
    table_rows.filter(":even").css({ "background-color": custom_head_color_20 }).eq(0).css({ "background-color": custom_head_color_10 });

    bodyhead.find('input[type="submit"], .button').css({ "border-color": custom_head_color_20 });
  })();

- if @voting.custom_background.path
  :javascript
    (function(){
      $('.standard_background').css({ "background-image": "url('#{@voting.custom_background}')" });
    })();

- if @voting.custom_background_color
  :javascript
    (function(){
      $('.standard_background').css({ "background-color": "'#{@voting.custom_background_color}'" });
    })();

.slider
  .active= image_tag @voting.prize.url, data: { src_change: @voting.prize.url(:thumb) } 
  .row
    .col.passive= image_tag @voting.prize1.url(:thumb), data: { src_change: @voting.prize1.url }
    .col.passive= image_tag @voting.prize2.url(:thumb), data: { src_change: @voting.prize2.url }
    .col.passive= image_tag @voting.prize3.url(:thumb), data: { src_change: @voting.prize3.url }

  %img.closed_tag{ :src => '/images/voting_show/closed.png' }
- if !@voting[:end_timer].nil? && @voting.can_vote_for_claim?
  #timer{ data: { votingid: @voting.id } }
  = javascript_include_tag 'timer'
.information= @voting.description

:javascript
  (function(){
    var slider = $('.slider');

    slider.on('mousedown', '.passive', function(){
      var active = slider.find('.active img');
      var passive = $(this).find('img');

      var options = { 
        active: { full: active.attr('src'), thumb: active.attr('data-src-change') },
        passive: { thumb: passive.attr('src'), full: passive.attr('data-src-change') }  
      }

      active.attr({ src: options.passive.full, 'data-src-change': options.passive.thumb });
      passive.attr({ src: options.active.thumb, 'data-src-change': options.active.full });

      return false;
    });
  })();