.Show_Voting.active
  %h1.voting_header= @what.voting.name
  .row
    .col.left_part
      = render 'votings/show/left_part'

    .col.right_part
      .lead_phone
        .lead_phone_leader
          = raw( t 'voting.show.lead_phone' )
          =# raw ul_lead_phone

        .lead_number.lead_7 7
        .lead_number.lead_3_0 923
        .lead_number.lead_3_1 923
        .lead_number.lead_2_0 02
        .lead_number.lead_2_1 02

      .your_phones
        %h3.your_phones_header
          %span= t 'voting.show.your_phone_in_which'
          .star 6
          %span= t 'voting.show.numbers'
        .row.your_phone
          .col.your_phone_place 
            7 
            = t 'voting.show.place'
          .col.your_phone_number
            .number.number_7 7
            .number.number_3_0 123
            .number.number_3_1 456
            .number.number_2_0 78
            .number.number_2_1 90
          .col.your_phone_vote
            .row
              .col.matches
                Голосовать до
                %br/
                7 совпадений
              .col.button.mini
            .button.big_one= t 'voting.show.vote'

      .show_or_add.row
        %a.col.show Показать все номера с совпадениями
        %a.col.add Добавить номер

      :javascript
        $('.Show_Voting .show_or_add .add').on('click', function(){
          $('.Show_Voting').addClass('add_phone');
        });

      = form_for 'Claim',
        url: voting_claims_path( params[:id] ), method: 'post', 
        remote: true, format: :json,
        html: { class: 'form join' } do |f|
        %h2.join_header= t 'voting.show.join.header'
        .join_description= t 'voting.show.join.description'
        .join_input
          = inp f, :phone, between: raw('<br>')
        .join_coincedence
          .join_coincedence_orange 
            #{@what.voting.matches_count @what.phone}/10
          = t 'voting.show.join.matches'
        = f.submit t('voting.show.join.take_part')
        