.Show_Voting.closed
  %h1.voting_header= @voting.name
  .row
    .col.left_part
      = render 'votings/show/left_part'

    .col.right_part
      .lead_phone
        .lead_phone_leader= t 'voting.show.winner'

        .lead_number.lead__ 7
        - @lead_phone_number.each_with_index do | number, i |
          .lead_number{ class: "lead_#{i}" }= number

      .dates
        .date.row
          .date_time.col 16:00, 10 сентября 2013
          .date_text.col= t 'voting.show.dates.start_registration'
        .date.row
          .date_time.col 10:00, 16 октября 2013
          .date_text.col= t 'voting.show.dates.start'
        .date.row
          .date_time.col 20:00, 20 октября 2013
          .date_text.col= t 'voting.show.dates.finish'
      .statistic.row
        .statistic_col.col
          .statistic_number= @voting.claims.size
          .statistic_text= raw t( 'voting.show.statistic.phones' )
        .statistic_col.col 
          .statistic_number= @voting.claims.group_by(&:participant).size
          .statistic_text= raw t( 'voting.show.statistic.participants' )
      .Voting_Phones
        - @sorted_phones_with_checks.reverse.each_with_index do | phone_group, anticount |
          - count = 10 - anticount

          - phone_group.each do | phone |
            .row.your_phone
              .col.your_phone_place 
                7 
                = t 'voting.show.place'
              .col.your_phone_number
                .number.number__ 7
                - phone[:numbers].each_with_index do | number, i |
                  .number{ class: "number_#{i} #{ number[1] ? 'number_green' : 'number_red' }" }= number[0]
              .your_phone_vote.col
                .matches
                  = count 
                  = t 'voting.show.to_matches'
      #chart_div

      :javascript
        (function() {
          var raw = #{@stats.to_json},
            lead_raw = raw[0],
            your_raw = raw[1],
            places = [];

          lead_raw.forEach(function(el, i) {
            var ey = your_raw[i];
            places.push([ new Date(el.created_at), el.place, ey.place ]);
          })

          var my_phone_last_position = places.slice(-1)[0].slice(-1)[0];
          var chart_div = $('#chart_div');

          google.load('visualization', '1.0', {'packages':['corechart']});

          google.setOnLoadCallback(function(){
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Победитель!');
            data.addColumn('number', 'Ваш лучший телефон');
            data.addRows( places );

            var options = {
              width: 424,
              height: 200,
              chartArea: {
                left: 56,
                width: 370
              },
              colors: [ '#fa931f', '#1aa727' ],
              hAxis: {
                format: 'MMM dd',
                baselineColor: '#cecece',
                gridlines: {
                  color: 'white'
                }
              },
              vAxis: {
                minValue: 1,
                direction: -1,
                baselineColor: 'white',
                gridlines: {
                  count: 2,
                  color: '#cecece'
                }
              }
            };

            // Create and draw the visualization.
            var chart= new google.visualization.LineChart( chart_div[0] );
            chart.draw(data, options);
            my_phone_last_position = chart.getChartLayoutInterface().getYLocation( my_phone_last_position );

            var your = $('<div class="your">Ваш лучший номер<div class="triangle"></div></div>');

            if( my_phone_last_position < 110 ){
              your.css({ top: my_phone_last_position + 5 });
            } else {
              your.css({ top: my_phone_last_position - 20 }).addClass('too_bottom');
            }

            chart_div
            .append('<div class="date">Дата</div>')
            .append('<div class="place">Место</div>')
            .append('<div class="winner">Номер победителя<div class="triangle"></div></div>')
            .append(your);
          });
        })();

