-p_c = participants_count
-o_c = org_count
-v_c = voting_count
.org_box_head
  .org_info.org_info_members
    .org_info_number= p_c
    .org_info_text= simple_format( t 'organization.registration.members_info', count: p_c )
  .org_info.org_info_organizators
    .org_info_number= o_c
    .org_info_text= simple_format( t 'organization.registration.organizators_info', count: o_c )
  .org_info.org_info_prizov
    .org_info_number= v_c
    .org_info_text= simple_format( t 'organization.registration.prizov_info', count: v_c )