#orgreg_page
  .app_div
    %a#orgreg_logo{ :href => '/' }
      %img(src="/images/centr_logo_mini.png")
    .org_box
      = render 'organizations/header'
      .org_box_body
        = form_for @target, :url => registration_path('organization'), :method => 'post', :html => { :id => 'orgreg_logup', :name => 'orgreg_logup' } do |f|
          %h1= t 'organization.logup.title'

          %h3= t 'organization.logup.authorization_info'
          .field_row.three_in_row
            .field
              = inp f, :email, :between => raw('<span>*</span>')
            .field
              = inp f, :password, :type => :password_field, :between => raw('<span>*</span>')
            .field
              = inp f, :password_confirmation, :type => :password_field, :between => raw('<span>*</span>')

          %h3= t 'organization.logup.personal_info'
          .field_row.two_in_row
            .field
              = inp f, :secondname, :between => raw('<span>*</span>')
            .field
              = inp f, :phone, :between => raw('<span>*</span>')
          .field_row.two_in_row
            .field
              = inp f, :firstname, :between => raw('<span>*</span>')
            .field
              = inp f, :fathersname

          %h3= t 'organization.logup.company_info'
          .field_row.two_in_row
            .field
              = inp f, :org_name, :between => raw('<span>*</span>')
            .field
              = inp f, :site

          #orgreg_logup_final_row.field_row.two_in_row
            #orgreg_logup_notation.field
              %span *
              = t 'organization.logup.field_required'
            .field
              = f.submit t('organization.logup.submit')

        = form_for @target, :url => session_path('organization'), :method => 'post', :html => { :id => 'orgreg_login', :name => 'orgreg_login' } do |f|
          %h2= t 'organization.login.title'

          #orgreg_login_description= t 'organization.login.description'

          .field
            = inp f, :email, l_name: 'Email'
          .field
            = link_to t('organization.login.forget'), 'javascript:{}'
            = inp f, :password, :type => :password_field

          = f.submit t 'organization.login.submit'
