.row.title
  %h1.tblack
    =  (@voting.id.blank?) ? t('organization.poll.create') : t('organization.poll.edit')
  - if @voting.id.blank?
    %div{ class: "switcher #{active}" }
      .elem.first
        = link_to t('organization.poll.type.first'), '?type=monetary', :class => 'twhite'
      .elem.second
        = link_to t('organization.poll.type.second'), '?type=other', :class => 'twhite'
%h3.tgreenoblue
  = t 'organization.poll.h3.prize'
.row
  .elem.wide
    = f.label :name, :class => 'tgrey'
    = f.text_field :name
.row
  .elem.wide
    = f.label :description, :class => 'tgrey'
    = f.text_area :description
.row
  .elem.first.half.fileload
    .elem.loadable.first
      = f.label :prize, t('organization.poll.prize.description') , :class => 'tgrey'
      .button.yellow{ :data => { :delete => t('organtization.poll.prize.photo.delete') } }
        = t 'organization.poll.prize.photo.load'
        = f.file_field :prize, :accept => 'image/*'
      %p.tgrey
        = t 'organization.poll.prize.photo.size'
    .elem.loaded.second
      %img{:width => 100, :height => 75 }
  .elem.second.half.fileload
    .elem.loadable.first
      = f.label :brand, t('organization.poll.brand.description'), :class => 'tgrey'
      .button.yellow{ :data => { :delete => t('organtization.poll.brand.photo.delete') } }
        = t 'organization.poll.brand.photo.load'
        = f.file_field :brand, :accept => 'image/*'
      %p.tgrey
        = t 'organization.poll.brand.photo.size'
    .elem.loaded.second
      %img{:width => 100, :height => 75 }

%h3.tgreenoblue= t 'organization.poll.h3.custom_head_color'
.row
  .elem.half.first
    = inp f, :custom_head_color, between: raw('<br>'), l_options: { class: 'tgrey' }, i_options: { id: 'color_input' }
  .elem.half.second.fileload
    .elem.loadable.first
      = f.label :custom_background, nil, class: 'tgrey'
      .button.yellow{ :data => { :delete => t('organtization.poll.brand.photo.delete') } }
        = t 'organization.poll.brand.photo.load'
        = f.file_field :custom_background, :accept => 'image/*'
      %p.tgrey
        = t 'organization.poll.brand.photo.size'
    .elem.loaded.second
      %img{:width => 100, :height => 75 }
%h3.tgreenoblue
  = t 'organization.poll.h3.voting'
%p.tgrey
  = t 'organization.poll.end.how'
.row
  %table{ :border => 0, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        = f.radio_button :way_to_complete, :count_users, :class => 'css-radio', checked: 'checked'
        = f.label :way_to_complete_count_users, :class => 'tgrey css-label-radio'
      %td
        = f.radio_button :way_to_complete, :sum, :class => 'css-radio'
        = f.label :way_to_complete_sum, :class => 'tgrey css-label-radio'
      %td
        = f.radio_button :way_to_complete, :date, :class => 'css-radio'
        = f.label :way_to_complete_date, :class => 'tgrey css-label-radio'
      %td
        = f.radio_button :way_to_complete, :count_points, :class => 'css-radio'
        = f.label :way_to_complete_count_points, :class => 'tgrey css-label-radio'
.row
  .elem.first.half
    = f.label :start_date, :class => 'tgrey'
    = f.text_field :start_date, :value => @voting.start_date, :class => 'date'
  .elem.second.half
    = f.label :end_date, :class => 'tgrey'
    = f.text_field :end_date, :value => @voting.end_date , :class => 'date'
.row
  .elem.first.half
    = f.label :min_count_users, :class => 'tgrey'
    = f.text_field :min_count_users

:javascript
  (function(){
    function changeHeadColor( color ){
      $('#bodyheader').css('background-color', color.toHexString());
    }

    $("#color_input").spectrum({
      preferredFormat: "hex6",

      showInitial: true,

      chooseText: "#{ t'organization.poll.custom_style.head.ok' }",
      cancelText: "#{ t'organization.poll.custom_style.head.cancel' }",

      move: changeHeadColor,
      hide: changeHeadColor
    })
    .spectrum( 'set', '#2c728d' );
  })()
