#body.create_voting
  .first.half
    = form_for @voting, as: 'voting',
      html: { class: 'default_form',
              name: 'create_other_poll',
              multipart: true,
              data: { created: t('voting.new.created'), cannot: t('voting.status.cannot_update_voting') } },
      remote: true, format: :json do |f|
      = f.hidden_field :type, :value => :other_voting if @voting.id.blank?

      = render "votings/new/common_part", :f => f, :active => 'second'

      %h3.tgreenoblue
        = t 'organization.poll.finance.parameters'
      .row
        .elem
          = f.label :how_participate, class: 'tgrey'
          = f.text_area :how_participate
      .row
        .elem.first.half
          = f.label :points_limit, :class => 'tgrey'
          = f.text_field :points_limit
        .elem.second.half
          = f.label :cost_10_points, :class => 'tgrey'
          = f.text_field :cost_10_points
      .row
        .elem.first.half
          = f.label :cost_of_like, class: 'tgrey'
          = f.text_field :cost_of_like
        .elem.second.half
          = f.label :cost_of_repost, class: 'tgrey'
          = f.text_field :cost_of_repost

      %h3.tgreenoblue
        = t 'organization.poll.actions.title'
      .normal_row
        = render 'votings/new/actions_form', :f => f

      .row.last
        = link_to t('organization.poll.go_back_to_list'), organization_path, class: 'button', style: 'float: left'
        - if can? :update, @voting
          = f.submit t('organization.poll.save_and_check'), class: 'button'

  = render "votings/new/second_half", :voting => @voting
