!!!
%html
	%head
		%title Vote
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#app
			#app_menu
				.app_div
					%a#app_menu_organizatoram
						= t('application_layout.menu.for_organisators')
					#app_menu_language_switcher{ :class => I18n.locale }
						%a.elem.first Eng
						%a.elem.second Rus
					%a#app_menu_enter
						= t('application_layout.menu.enter')
			#app_yield
				= yield
			#app_footer
				.app_div
					#app_footer_OOO
						= t('application_layout.footer.rights')
					#app_footer_development
						%a= t('application_layout.footer.development')
						\- Mangaweb
						%img( src="/images/logoM.png" )
		#app_smoke
			#app_log.app_div
				%div#app_login
					.cross &#10006;
					%h1= t 'participant.login.title'
					= form_for Participant.new, :url => session_path('participant'), :method => 'post', :html => { :id => 'fields', :name => 'participant_login' } do |f|
						%div.field.left
							= f.label :phone
							= f.text_field :phone, :placeholder => '+7(___)___-__-__'
						%div.field.right
							= f.label :password
							= f.password_field :password
							= link_to t('participant.login.password.forget'), 'javascript:{}'
					%div#links
						%div.button.yellow.link.right
							= link_to t('participant.login.button.text'), 'javascript:document.forms["participant_login"].submit()', :class => 'tblack'
						%div.link.left
							= link_to t('participant.logup.welcome'), 'javascript:{}'

				%div#app_logup
					.cross &#10006;
					%h1= t 'participant.logup.title'
					= form_for Participant.new, :url => registration_path('participant'), :method => 'post', :html => { :id => 'fields', :name => 'participant_logup' } do |f|
						%div.field.left
							= f.label :phone
							= f.text_field :phone, :placeholder => '+7(___)___-__-__'
						%div.field.right
							= f.label :password
							= f.password_field :password
					%div#links
						%div.button.yellow.link.right
							= link_to t('participant.logup.button.text'), 'javascript:document.forms["participant_logup"].submit()', :class => 'tblack'
						%div.link.left
							= link_to t('participant.logup.already'), 'javascript:{}'

		:javascript
			(function(){
				var smoke = $("#app_smoke");

				smoke.on("mousedown", function(e){
					var t = $(e.target);
					if( e.target == this || t.parent('#app_smoke').length || t.hasClass('cross') ){
						smoke.fadeOut(500);
					}
				});

				function log_choose( login ){
					if( !smoke.is(":visible") ) smoke.fadeIn(500);

					var a = [['fadeOut', 300], ['fadeIn', 500]];
					smoke.find('#app_login')[ a[  login][0] ]( a[  login][1]  );
					smoke.find('#app_logup')[ a[1-login][0] ]( a[1-login][1]  );
				}

				$("#app_menu_enter").on("mousedown", function(e){
					log_choose( 1 );
				});

				smoke.find("#app_login #links .left a").on("mousedown", function(e){
					log_choose( 0 );
				});

				smoke.find("#app_logup #links .left a").on("mousedown", function(e){
					log_choose( 1 );
				});
			})();
