!!!
%html
  %head
    %title Vote
    = javascript_include_tag 'timer'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #app
      #app_menu
        .app_div
          #app_menu_left
            = yield :top_menu_left
            - TextPage.for_participants.each do |page|
              = link_to page.name, text_page_path(page)

          -if user_signed_in?
            .app_menu_right
              = link_to t(:logout), destroy_participant_session_path
          -else
            #app_menu_right
              = yield :top_menu_right
      #app_yield
        #voting
          .standard_background
            #miniheader
              = yield :logotip
            .app_div
              #bodyheader
                .first
                  %h1= current_participant.fullname
                  #participant_pages_selector{ class: "#{ 'link_0' if request.fullpath == participant_claims_path }" }
                    #participant_pages_selector_links
                      = link_to t('participant.votings.active_title'), votings_participant_path
                      = link_to t('participant.votings.joined_title'), participant_claims_path
                      = link_to t('participant.votings.closed_title'), closed_votings_participant_path
                .second
                  #balance
                    %p
                      = t 'participant.balance.yours'
                    %p
                      %b
                        = current_participant.billinfo
                        = t( 'voices', :count => current_participant.billinfo )
                  = render 'layouts/settings', :close => @close_settings
                .third
                  = link_to t('participant.balance.fillup'), new_payment_path, id: 'participant_balance_fillup', class: 'button'
                  - unless current_participant.paid?
                    %p
                      = "#{t 'participant.bonus.first'} - #{FirstBonus.value}%"
                .fullwidth{ :style => "display: #{ @close_settings ? 'none' : 'block' }" }
                  = render '_settings/participant', :who => current_participant
                .floating_block{ style: 'display: none' }
                  // Place for form by ajax
              = yield
    #app_footer
      .app_div
        #app_footer_OOO
          = t('application_layout.footer.rights')
        #app_footer_development
          %a= t('application_layout.footer.development')
          \- Mangaweb
          %img( src="/images/logoM.png" )
    #app_fog

    = content_for :layout_bottom

    #app_alert_smoke
    #app_alert_div
      #app_alert
        #alert_text
        #alert_ok.button Ок
        #alert_ne.button Не
