<!DOCTYPE html>
<html>
<head>
  <title>Vote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "widget" %>
  <%= stylesheet_link_tag    "fonts" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "widget" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
